.heading,
.subHeading {
  text-align: center;
}

.subHeading {
  margin-bottom: 2rem;
}

.graph {
  margin: 1rem auto;
}

/* MUI's own CSS has has a slightly higher specificity... */
.button.button {
  margin: 0.5rem 0;
}

/* MUI's own CSS has has a slightly higher specificity... */
.buttonInfo.buttonInfo {
  color: var(--grey-600);
}
