.heading {
  text-align: center;
}

.centerImage {
  margin: 0 auto;
  padding: 1rem;
  border: 1px #26A69A solid;
  border-radius: 5px;
}

.bubble {
  position: relative;
  width: 65%;
  height: 0;
  overflow: hidden;
  margin: 2rem auto;
  padding-top: 65%;
}

.bubbleInner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 80%;
  background-color: var(--grey-300);
}

.name {
  position: absolute;
  font-size: 1.25rem;
}

.nameOne {
  left: 25%;
  top: 15%;
}

.nameTwo {
  left: 65%;
  top: 40%;
}

.nameThree {
  left: 30%;
  top: 60%;
}
